.skills {
  padding-bottom: 112px;
  @media (max-width: 628px) {
    padding-bottom: 30px;
  }
  &__title {
    max-width: 391px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title-name {
    font-size: 32px;
    line-height: 42px;
    font-weight: var(--font500);
    color: var(--white);
  }
  &__title-name span {
    color: var(--primary);
  }
  &__title-border {
    width: 239px;
    height: 1px;
    background: var(--primary);
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__wrap-img {
    padding-top: 12px;
    padding-left: 33px;
    width: 377px;
  }
  &__wrap-box {
    max-width: 592px;
    width: 100%;
    padding-top: 43px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 1028px) {
    &__wrap-img {
      display: none;
    }
    &__wrap {
      justify-content: center;
    }
    &__wrap-box {
      justify-content: center;
    }
  }
  @media (max-width: 628px) {
    &__wrap-box {
      padding-top: 30px;
      max-width: 100%;
    }
    &__box-carding {
      width: 182px;
    }
    &__title-border {
      display: none;
    }
  }
}
